<div class="card">

    <p style="text-align: center;">Filters</p>
    <div class="card-body">
        <form>

            <div class="form-group">
                <input type="number" id="from" class="form-control" placeholder="From" for="from" title="Select From">
            </div>

            <div class="form-group">
                <input type="number" id="to" class="form-control" placeholder="To" for="To" title="Select To">
            </div>
            <button class="btn">Filter by Price</button>
        </form>

    </div>
</div>
<div class="image">
    <img src="https://i.pinimg.com/564x/a8/21/db/a821db97bd8d0b045787855fe2205866.jpg" style=" width: 100%; ">
    <img src="https://i.pinimg.com/564x/57/16/b7/5716b7b65c955183c4ad3b6ea94a660b.jpg" style="width:100%">
</div>